<!DOCTYPE html>
<!--
  thanksindeep
  razorbla.de/
  III??????????????IIIIIIII???????????????????????????????????????????????????????IIII?????????????????II?????
  IIIIIII??IIIIIIIIIIIIIIIIIIIIIIII???????????????????????????????II?????????????IIIIIII??I??III??IIIIIIIII?II
  IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII????III????????????IIIII???IIII?IIIIIIIIIIIIIIIIIIIIII?IIIIIIIIIIIIIIIIII
  IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
  IIIIIIIIIIIIIIIII77777777IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII7I7777IIIIIIIIIIIIIIII77IIIII
  7777IIIIIII777II77777777777II7777IIIIIIIIIIIIIIIIIIIIIIIIIIIIIII77IIIIIIIII7III777777IIIIIII77IIII7I77777I7I
  7777777III7777777777777777777777777IIIIIIIIIIIIIIIIIIIIII77II777777I777I77777777777777777II77777777777777777
  77777777I777777777777777777777777777III777777II7777II77777777I7777777777777777777777777777777777777777777777
  777777777777777777777777777777777777777777777777777777777777777777777777777777777$$$$77777777777777777$77777
  7777777777777$777$$$$$$$$$7777$$77777777777777777777777777777777777777777777777$$$$$$7777777777777777$$$$777
  777$$777777$$$777$$$$$$$$$$$$$$$$$77777777777777777777777777777$$$$7777777$$77$$$$$$$$$77777$$$777$$$$$$$$$$
  $$$$$$$777$$$$$7$$$$$$$$$$$$$$$$$$$77777777777777777777$$$$777$$$$$$$$$$$$$$$$$$$$$$$$$$$$77$$$$$$$$$$$$$$$$
  $$$$$$$$7$$$$$$$$$$$$$$$$$$$$$$$$$$$77$$$$$$$$7$$$7$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$7$$7777$$$$$$$$$$$
  $$$$$$$$7$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ZZZ$$$$$$77777777777$$$$$77
  $$$$$$$$$$$$$$$$$$$$ZZZ$$$$$$$Z$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ZZ$$$$$77I77777777777$$7777
  $$$$$$$$$$$$ZZZ$$$ZZZZZZZZ$$$$ZZZZ$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ZZZ$$$$$$Z$Z$$777$$$$$$777II77777777II777$$7
  $ZZZ$$$$$$$ZZZZ$$ZZZZZZZZZZ$$ZZZZZ$$$$$$$$$$$$$$$$$$$$$$$ZZ$$$ZZZZZZ$ZZ$$$$$$$$7777$$$7$77777$7777777IIIII??
  ZZZZZZ$$$$ZZZZZZ$ZZZZZZZZZZ$ZZZZZZ$$$$$$$$$Z$$$$$Z$$$$$ZZZZ$Z$ZZZZZ$$$$$$$$$$77$$7$$$$7777777$77777777$$$$$7
  ZZZZZZZZ$$ZZZZZZ$ZZZZZZZZZZZZZZZZZZZZ$$ZZZZZZZ$$$Z$$$$$ZZZ$$$$$$$$$$$$7?7$$$$$$$$7$$$$7I777III777777$$$$$$$$
-->
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>p l e a s e f e e l d e e p t h a n k s</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="http://svv.im" />
    <!-- ogp: basic -->
    <meta property="og:title" content="SVVIM @ Middlesex Lounge">
    <meta property="og:type"  content="website">
    <meta property="og:url"   content="http://svv.im">
    <meta property="og:image" content="http://svv.im/public/image/fluid-3.png">
    <meta property="og:image" content="http://svv.im/public/image/fluid-1.png">
    <meta property="og:image" content="http://svv.im/public/image/fluid-2.png">
    <meta property="og:image" content="http://svv.im/public/image/fluid-4.png">
    <!-- ogp: optional -->
    <meta property="og:description" content="((Tues. 01.07.2013)) Essential busines infrastructure for corporate cultural tourism. Book an event with leading feeling guides to explore leading-edge synergy. Click for info. p l e a s e f e e l d e e p . t h a n k s .">
    <meta property="og:locale"      content="en_US">

    <!-- * -->
    <link rel="shortcut icon" href="http://razorbla.de/favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="/public/css/icomoon.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/normalize.css">
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/planworked.css">
    <link rel="stylesheet" href="/public/css/index.css">

    <!-- @ -->
    <script src="/socket.io/socket.io.js"                   ></script>
    <script src="/public/js/vendor/require.js"              ></script>
    <script src="/public/js/vendor/live.js"                 ></script>
    <script src="/public/js/vendor/modernizr-2.6.2.min.js"  ></script>

    <!-- !!! Harvester Scripts -->
    <!-- <script src="/public/js/instagram-harvester/app.js"></script> -->
    <script>
      var socket = io.connect('http://svv.im:80');

      socket.on('connect', function () {
        console.log('connected');
      });

      socket.on('message', function (data) {
        var videos = [], images = [];

        try {
          data = JSON.parse(data);
        }
        catch (err) {
          data = [ ];
          console.log('* Error with JSON.parse failed *');
          return;
        }

        if (!data || data.data === undefined || data.data.length < 1) {
          console.log('Error: data object is no good. Ignoring rest of procedure');
          return;
        }

        for (var i=0; i < data.data.length; i++) {
          var media = data.data[i];

          if (media.type === 'video') {
            var vid = media;
            videos.push(vid);
          }
          else {
            var img = media;
            images.push(img);
          }
        }

        console.log('videos.length = ' + videos.length);

        for (var i = 0; i < 1; i++) {
          var vid = videos[i];
          var low_res_video = videos[i].videos.low_resolution;
          var videoElement = document.getElementById('video-element');
          var tags = vid.tags;
          console.log(tags.join(', '));
          videoElement.src    = low_res_video.url;
          videoElement.volume = 0.00;
          if (videoElement.pause) {
            videoElement.play();
          }
        }

      });
    </script>
    <style>
      .headliner {
        font-weight: bold;
        font-size: 150%;
      }
      .headliner > .fade {
        font-size: 80%;
      }
      .fade {
        color: rgba(33, 33, 33, .3);
        font-size: 80%;
      }
      .left-space {
        margin-left: 0.25em;
      }
    </style>
  </head>
  <body>

    <!-- @@@ -->
    <div id="div-bg">
      <img src="/public/image/fluid-3.png">
    </div>

    <!-- content -->
    <article id="content">
      <section id="subsec-name">
        svvim
        <small>
          <a href="http://instagram.com/svvim" class="left-space"><i class="fa fa-instagram"></i></a>
          <a href="http://facebook.com/svvim" class="left-space"><i class="fa fa-facebook-square"></i></a>
        </small>
      </section>
      <section>
        <div>
          <div>January 7th, 2014</div>
          <div>@ Middlesex Lounge</div>
          <div>
            315 Massachusetts Ave,<br>
            Cambridge, MA 02139
          </div>
          <br>
          <div>
            <a href="https://www.facebook.com/events/265092633644550/" class="left-space"><i class="fa fa-thumbs-up"></i> RSVP</a>
            <a href="http://fontawesome.io/icon/tint/" class="left-space"><i class="fa fa-tint"></i> Feel</a>
            <a href="http://www.mixcloud.com/svvim/" class="left-space"><i class="fa fa-meh-o"></i> Thanks</a>
          </div>
        </div>
        <hr>
        <div class='headliner'>
          Robokid
          <a href="https://www.facebook.com/r0b0kid" class="left-space"><i class='icon-soundcloud2'></i></a>
          <a href="https://www.soundcloud.com/r0b0kid" class="left-space"><i class='icon-facebook2'></i></a>
          <a href="https://twitter.com/robokidmusic" class="left-space"><i class='icon-twitter'></i></a>
          <div class='fade'>Future, Dream Club, Bass</div>
        </div>
        <br>
        <div>
          Dudley Disco
          <a href="https://www.facebook.com/subtropixboston" class="left-space"><i class='icon-soundcloud2'></i></a>
          <a href="https://www.soundcloud.com/dudley-disco" class="left-space"><i class='icon-facebook2'></i></a>
          <a href="https://twitter.com/SubTropixBoston" class="left-space"><i class='icon-twitter'></i></a>
          <div class='fade'>Deep House, Bass</div>
        </div>
        <br>
        <div>
          Brad Mood
          <a href="https://www.facebook.com/svvim" class="left-space"><i class='icon-soundcloud2'></i></a>
          <a href="https://twitter.com/svvim" class="left-space"><i class='icon-twitter'></i></a>
          <div class='fade'>Sonic Youth, Meta Ambient, iPad Serrato</div>
        </div>

        <!-- @@@
        <div>
          <h3>###</h3>
          <p>House</p>
          <div><a href="https://www.facebook.com/RomanPerryMusic">soundcloud</a></div>
        </div>
        -->
        <hr>
        <h3>REQUEST FOR URGENT BUSINESS RELATIONSHIP</h3> 
        <p>FIRST, I MUST SOLICIT YOUR STRICTEST CONFIDENCE IN THIS TRANSACTION. THIS IS BY VIRTUE OF ITS NATURE AS BEING UTTERLY CONFIDENTIAL AND 'TOP SECRET'. I AM SURE AND HAVE CONFIDENCE OF YOUR ABILITY AND RELIABILITY TO PROSECUTE A TRANSACTION OF THIS GREAT MAGNITUDE INVOLVING A PENDING TRANSACTION REQUIRING MAXIIMUM CONFIDENCE.</p>
        <p>WE ARE TOP OFFICIAL OF THE FEDERAL GOVERNMENT CONTRACT REVIEW PANEL WHO ARE INTERESTED IN IMPORATION OF GOODS INTO OUR COUNTRY WITH FUNDS WHICH ARE PRESENTLY TRAPPED IN NIGERIA. IN ORDER TO COMMENCE THIS BUSINESS WE SOLICIT YOUR ASSISTANCE TO ENABLE US TRANSFER INTO YOUR ACCOUNT THE SAID TRAPPED FUNDS.</p>
        <p>THE SOURCE OF THIS FUND IS AS FOLLOWS; DURING THE LAST MILITARY REGIME HERE IN NIGERIA, THE GOVERNMENT OFFICIALS SET UP COMPANIES AND AWARDED THEMSELVES CONTRACTS WHICH WERE GROSSLY OVER-INVOICED IN VARIOUS MINISTRIES. THE PRESENT CIVILIAN GOVERNMENT SET UP A CONTRACT REVIEW PANEL AND WE HAVE IDENTIFIED A LOT OF INFLATED CONTRACT FUNDS WHICH ARE PRESENTLY FLOATING IN THE CENTRAL BANK OF NIGERIA READY FOR PAYMENT.</p>
        <p>HOWEVER, BY VIRTUE OF OUR POSITION AS CIVIL SERVANTS AND MEMBERS OF THIS PANEL, WE CANNOT ACQUIRE THIS MONEY IN OUR NAMES. I HAVE THEREFORE, BEEN DELEGATED AS A MATTER OF TRUST BY MY COLLEAGUES OF THE PANEL TO LOOK FOR AN OVERSEAS PARTNER INTO WHOSE ACCOUNT WE WOULD TRANSFER THE SUM OF US$21,320,000.00(TWENTY ONE MILLION, THREE HUNDRED AND TWENTY THOUSAND U.S DOLLARS). HENCE WE ARE WRITING YOU THIS LETTER. WE HAVE AGREED TO SHARE THE MONEY THUS; 1. 20% FOR THE ACCOUNT OWNER 2. 70% FOR US (THE OFFICIALS) 3. 10% TO BE USED IN SETTLING TAXATION AND ALL LOCAL AND FOREIGN EXPENSES. IT IS FROM THE 70% THAT WE WISH TO COMMENCE THE IMPORTATION BUSINESS.</p>
        <p>PLEASE,NOTE THAT THIS TRANSACTION IS 100% SAFE AND WE HOPE TO COMMENCE THE TRANSFER LATEST SEVEN (7) BANKING DAYS FROM THE DATE OF THE RECEIPT OF THE FOLLOWING INFORMATIOM BY TEL/FAX; 234-1-7740449, YOUR COMPANY'S SIGNED, AND STAMPED LETTERHEAD PAPER THE ABOVE INFORMATION WILL ENABLE US WRITE LETTERS OF CLAIM AND JOB DESCRIPTION RESPECTIVELY. THIS WAY WE WILL USE YOUR COMPANY'S NAME TO APPLY FOR PAYMENT AND RE-AWARD THE CONTRACT IN YOUR COMPANY'S NAME.</p>
        <p>WE ARE LOOKING FORWARD TO DOING THIS BUSINESS WITH YOU AND SOLICIT YOUR CONFIDENTIALITY IN THIS TRANSATION. PLEASE ACKNOWLEDGE THE RECEIPT OF THIS LETTER USING THE ABOVE TEL/FAX NUMBERS. I WILL SEND YOU DETAILED INFORMATION OF THIS PENDING PROJECT WHEN I HAVE HEARD FROM YOU.</p>

        <p>
          YOURS FAITHFULLY,<br>
          DR CLEMENT OKON 
        </p>
      </section>
    </article>
    <!-- /content -->


    <!-- GET JQUERY -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/public/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    <!-- PLUGINS -->
    <script src="/public/js/custom/plugins.js"></script>
    <!-- ANALYTICS -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-45577960-1', 'razorbla.de');
      ga('send', 'pageview');
    </script>

    <script>
      requirejs.config({
        paths : {
          three     : '/public/js/vendor/three.min',
          OBJLoader : '/public/js/vendor/OBJLoader',
          App       : '/public/js/custom/App',
          ObjApp    : '/public/js/custom/ObjApp'
        }
      });

      require([ 'three', 'App' ], function () {
        require([ 'OBJLoader', 'ObjApp' ], function () {
          var s = new ObjApp();
          s.loop();

          $(window).scroll(function (ev) {
            var y = $(window).scrollTop() / ($(document).height() - $(window).height());
            console.log('y = ', y);
            s.set('y', y);
          });

          $(window).keypress(function (ev) {
            switch (ev.which) {
            case 112:
              s.snapshot();
              break;
            }
          });
        });
      });

    </script>

  </body>
</html>
