<!DOCTYPE html>
<!--
  |||||| |||||| ||||||
  |||||| |||||| ||||||
  |||||| |||||| ||||||
-->
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Matt Owen ___</title>
    <meta name="description" content="Statistical programmer, interested in teaching computers to read.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ogp: basic -->
    <meta property="og:title" content="Matt Owen ___">
    <meta property="og:type"  content="profile">
    <meta property="og:url"   content="http://razorbla.de">
    <meta property="og:image" content="http://razorbla.de/public/image/ogp.png">
    <meta property="og:image" content="http://razorbla.de/public/image/profile.jpg">
    <!-- ogp: optional -->
    <meta property="og:description" content="Statistical programmer, interested in teaching computers to read.">
    <meta property="og:locale"      content="en_US">
    <!-- ogp: profile meta data -->
    <meta property="og:profile.first_name" content="Matt">
    <meta property="og:profile.last_name"  content="Owen">
    <meta property="og:profile.username"   content="mattvvhat">
    <meta property="og:profile.gender"     content="male">

    <link rel="shortcut icon" href="http://razorbla.de/public/image/favicon.ico">

    <!-- * -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" rel="stylesheet" type="text/css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/normalize.css">
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/planworked.css">
    <link rel="stylesheet" href="/public/css/index.css">

    <!-- @ -->
    <script src="/public/js/vendor/modernizr-2.6.2.min.js"  ></script>
    <script src="/public/js/vendor/live.js"                 ></script>
    <script src="/public/js/vendor/sigma.min.js"            ></script>

    <style>
      #sig {
        display: block;
        width:  500px;
        height: 500px;

        border: 1px solid black;
        margin-left:  auto;
        margin-right: auto;
        position: relative;

        border-radius:          7px;
        -moz-border-radius:     7px;
        -webkit-border-radius:  7px;
        background: rgb(33, 33, 33);

        position: relative;
        top: 0;
        left: 0;
        box-shadow: -7px 0px 9px rgba(0, 0, 0, .5),
                    +7px 0px 9px rgba(0, 0, 0, .5);
      }
    </style>

  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- content -->

    <div id="div-bg">
      <canvas>
      </canvas>
    </div>

    <article id="content">
      <section id="sec-info">
        <section id="subsec-name">
          Matt Owen
          <a href="http://github.com/mattvvhat"><i class="fa fa-github"></i></a>
          <a href="http://www.linkedin.com/pub/matt-owen/14/a1/a78"><i class="fa fa-linkedin"></i></a>
        </section>
        <section id="subsec-main-links">
          <ul class="pw-inline-list">
            <li><a href="#sec-work-experience" onclick="pwScrollTo('sec-work-experience'); return false;" >Work</a></li>
            <li><a href="#sec-major-projects"  onclick="pwScrollTo('sec-major-projects'); return false;"  >Projects</a></li>
            <li><a href="#sec-skills"          onclick="pwScrollTo('sec-skills'); return false;"          >Skills</a></li>
            <li><a href="#sec-side-projects"   onclick="pwScrollTo('sec-side-projects'); return false;"   >Side Projects</a></li>
          </ul>
        </section>
        <section id="subsec-find-me-links">
          <ul class="pw-inline-list">
            <li><a href="#sec-contact" onclick="pwScrollTo('sec-contact'); return false;">Contact</a></li>
          </ul>
        </section>
      </section>

      <hr>

        <div id="sig"></div>

    </article>
    <!-- /content -->

    <!-- Clear anything that floats -->
    <div class="clearfix"></div>

    <!-- Scroller -->
    <div class="hidden" id="go-up">
      <a href="#content" onclick="pwScrollTo('content'); return false;"><i class="fa fa-angle-double-up"></i></a>
    </div>

    <!-- GET JQUERY -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    <!-- PLUGINS -->
    <script src="/public/js/custom/plugins.js"></script>
    <!-- ANALYTICS -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-45577960-1', 'razorbla.de');
      ga('send', 'pageview');
    </script>
    <script>
      function pwSendEmail () {
        var validEmailRegEx = /(.+)@(.+){2,}\.(.+){2,}/;
        var validUrlRegEx =  /^(http(?:s)?\:\/\/[a-zA-Z0-9\-]+(?:\.[a-zA-Z0-9\-]+)*\.[a-zA-Z]{2,6}(?:\/?|(?:\/[\w\-]+)*)(?:\/?|\/\w+\.[a-zA-Z]{2,4}(?:\?[\w]+\=[\w\-]+)?)?(?:\&[\w]+\=[\w\-]+)*)$/;

        var email = $('#contact-form-email').val();
        var website = $('#contact-form-website').val();

        $('#contact-form input, #contact-form textarea').removeClass('invalid').removeClass('valid');

        {
          // Error-checking
        }

        $.ajax({
          url   : "/email",
          type  : "POST",
          data  : {
            name    : $("#contact-form-name").val(),
            email   : $("#contact-form-email").val(),
            company : $("#contact-form-company").val(),
            website : $("#contact-form-website").val(),
            message : $("#contact-form-message").val()
          },
          success : pwOnMailSuccess,
          error   : pwOnMailError
        });

        $("#contact-form-name").val("");
        $("#contact-form-email").val("");
        $("#contact-form-company").val("");
        $("#contact-form-website").val("");
        $("#contact-form-message").val("WAITING...\nYOUR EMAIL IS BEING SENT.");
        $('#contact-form input, #contact-form textarea').attr('disabled', 'disabled');
      }

      function pwOnMailSuccess(data, textStatus, jqXHR) {
        $("#contact-form-name").val("");
        $("#contact-form-email").val("");
        $("#contact-form-company").val("");
        $("#contact-form-website").val("");

        if (data.resp == 0)
          $("#contact-form-message").val("THANK YOU!\nYOUR MESSAGE HAS BEEN SENT TO MATT.");
        else
          $("#contact-form-message").val("EMAIL ERROR!\nYOUR MESSAGE HAS NOT BEEN SENT TO MATT.\nCONTACT HIM DIRECTLY AT:\n  matt@planwork.us");

        $('#contact-form input, #contact-form textarea').removeAttr('disabled');
      }

      function pwOnMailError (jqXHR, textStatus, errorThrown) {
        console.log(textStatus);
        console.log(errorThrown);
      }

      $(window).scroll(function () {
        // Scroll-top
        var _st = $(window).scrollTop();
        if (_st > 30) {
          if (!$("#go-up").hasClass('faded-in')) {
            $('#go-up').hide().fadeOut(0).removeClass('hidden').addClass('faded-in').fadeIn(300);
          }
        }
        else {
          $('#go-up').stop(true, false).removeClass('faded-in').fadeOut(300);
        }
      });
      /**
       * Scroll to an HTML Element
       * Scroll to an HTML element at a set rate of pixels per millisecond.
       * @param {string,object} obj a string or object to which the page will scroll
       * @param {numeric} rate a numeric specifying the scroll speed in pixels per
       * second. Defaults to [10]
       */
      function pwScrollTo (obj, rate) {
        rate = typeof rate === 'number' ? rate : 40;
        rate = rate > 0 ? rate : 40;

        if (typeof obj === "string") {
          obj = document.getElementById(obj);
        }

        var currentPosition = $(window).scrollTop(), targetPosition = $(obj).offset().top;

        // Time in milliseconds
        var t = Math.abs(currentPosition - targetPosition)/rate;

        $("html, body").animate({ scrollTop : targetPosition - $("#top").outerHeight(true)}, t);

        return false;
      }
      function init () {
        var sigRoot = document.getElementById('sig');
        var sigInst = sigma.init(sigRoot).drawingProperties({
          defaultLabelColor : '#ccc',
          font              : 'Arial',
          edgeColor         : 'source',
          defaultEdgeType   : 'curve'
        }).graphProperties({
          minNodeSize : 1,
          maxNodeSize : 10
        });

        sigInst.addNode('hello', { label :  'Hello',    color : '#ff0000',  x : -0.25 })
               .addNode('world', { label :  'World !',  color : '#00ff00',  x : +0.25 })
               .addEdge('hello_world', 'hello', 'world')
               .draw();

        setTimeout(function () {
          sigInst.addNode('yea-1', { label :  'World !',  color : '#00ff00',  y : +0.25 })
                 .addNode('yea-2', { label :  'World !',  color : '#ffffff',  y : -0.25 })
                 .addEdge('o', 'yea-2', 'yea-1')
                 .draw()
                 ;
        }, 1000);
      }

      window.onload = init;
    </script>

  </body>
</html>
