<!DOCTYPE html>
<html lang="en">
  <head>
    <title>SWIM</title>
    <meta name="viewport" content="initial-scale=1.0,width=device-width,height=device-height" />
    <meta property="og:title" content="PLANWORK">
    <meta property="og:description" content="PLANWORK designs functional scalable objects that manifest trends in art, culture and technology.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://planwork.us/">
    <meta property="og:image" content="https://planwork.us/icon.png">
    <style>
      body {
        font-family: Helvetica;
      }
      #until {
        font-size: 40pt;
        text-align: center;
        text-shadow: cyan -5px 0 0px, coral 5px 0 0px;
        letter-spacing: .25em;
      }
      .unit {
        font-size: 80%;
        color: rgb(66,66,66);
      }
    </style>
  </head>
  <body>
    <div id="until">
      23<span class="unit">d</span>
      1<span class="unit">h</span>
      10<span class="unit">m</span>
      45<span class="unit">s</span>
    </div>
  </body>
</html>
