<!DOCTYPE html>
<html lang="en">
<!-- RA: http://www.residentadvisor.net/event.aspx?422555
  FB EVENT:
-->
  <head>
    <title>S W I M</title>

    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>

    <link rel="stylesheet" href="/public/style.css" />
    <link rel="stylesheet" href="/public/sm.style.css" media="all and (max-width: 600px)" />
    <link rel="stylesheet" href="/public/lg.style.css" media="all and (min-width: 1400px)" />

    <meta property="og:title" content="S W I M">
    <meta property="og:description" content="Boston underwater dance night: deep house, deep bass, ambient">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://svv.im/">
    <meta property="og:image" content="http://svv.im/public/og.png">
    
    <script src="/public/jquery-1.7.1.min.js"></script>
    <script src="/public/socket.io.js"></script>
    <script src="/public/underscore.js"></script>

    <script src="/public/modernizr.custom.js"></script>
    <script src="/public/ios-orientationchange-fix.js"></script>

    <script src="/public/daisychain.js"></script>

    <script>
      /*
       * Are we compatible?
       * If not, we can make this work.
      */
      yepnope([
        {
          test : Modernizr.backgroundsize,
          nope : '/public/background-size-fix.js'
        }
      ]);
    </script>
    <script>
      var sock = io.connect("http://svv.im/"),
          MAX_IMAGES = 10;

      sock.on('connect', function () {
      });

      sock.on('disconnect', function () {
      });

      sock.on('message', function (images) {
        var sources = [], images = _.first(JSON.parse(images), MAX_IMAGES);
        addnew(images);
      });

      function addnew (images) {
        var sources = [];
        for (var k = 0; k < images.length; k++) {
          sources.push(images[k].images.low_resolution.url);
          console.log(images[images.length - k - 1]);
        }

        instagrammer.add(sources);
      }

    </script>
  </head>
  <body>

    <div class="doesntexist">
      最初に、この国のために自体今後この 10 年以内に人間を月面に着陸と、彼は無事に地球に帰還という前に、目標を達成するためにコミットする必要があることを信じる。この期間内の単一のスペース プロジェクトより印象的な人類、またはもっと長距離宇宙開発のための重要なないでしょう。なし、困難または達成するために高価になります。
      地球は、広大な宇宙の分野で非常に小さなステージです。栄光と勝利、彼らドットのほんの一部の瞬間的なマスターになるように、すべてのこれらの将軍と皇帝をこぼした血の川を考えます。このピクセルの 1 つのコーナーの住民がいくつかの他のコーナーのほとんど区別の住民をどのように訪問無限の残虐行為を考えて熱望、どのように熱烈な殺しは、彼らの誤解は頻繁に憎悪。
      地球の形を初めてを見た。簡単に大陸、島、川、地形、水の大規模な機関のひだの海岸が見えた。地平線をスムーズに黒に曲がる紺です・・・私いっぱい気持ちは 1 つの単語と表現できる — 喜び。
      もう一度その点を見てください。ここにいます。ホーム。それは私たちです。それを誰もあなたが愛する、誰も知っている、誰ものすべての人間は、かつて自分たちの生活を聞いた。私たちの喜びの集計と苦しみ、何千もの自信を持って宗教、イデオロギーと経済の教義は、すべてのハンターと考量、すべての英雄と臆病者、すべての作成者と駆逐艦の文明、すべての王と農民、すべての若いカップルの愛、すべて母と父、希望に満ちた子、発明者エクスプ ローラー、モラル、すべての腐敗した政治家、すべて「スーパー スター、」のすべての教師のすべて「最高指導者、」すべての聖人と罪人の我々 の種の歴史 － 太陽光線に浮遊塵のほこりに住んで。
      最初に、この国のために自体今後この 10 年以内に人間を月面に着陸と、彼は無事に地球に帰還という前に、目標を達成するためにコミットする必要があることを信じる。この期間内の単一のスペース プロジェクトより印象的な人類、またはもっと長距離宇宙開発のための重要なないでしょう。なし、困難または達成するために高価になります。
      地球は、広大な宇宙の分野で非常に小さなステージです。栄光と勝利、彼らドットのほんの一部の瞬間的なマスターになるように、すべてのこれらの将軍と皇帝をこぼした血の川を考えます。このピクセルの 1 つのコーナーの住民がいくつかの他のコーナーのほとんど区別の住民をどのように訪問無限の残虐行為を考えて熱望、どのように熱烈な殺しは、彼らの誤解は頻繁に憎悪。
      地球の形を初めてを見た。簡単に大陸、島、川、地形、水の大規模な機関のひだの海岸が見えた。地平線をスムーズに黒に曲がる紺です・・・私いっぱい気持ちは 1 つの単語と表現できる — 喜び。
      もう一度その点を見てください。ここにいます。ホーム。それは私たちです。それを誰もあなたが愛する、誰も知っている、誰ものすべての人間は、かつて自分たちの生活を聞いた。私たちの喜びの集計と苦しみ、何千もの自信を持って宗教、イデオロギーと経済の教義は、すべてのハンターと考量、すべての英雄と臆病者、すべての作成者と駆逐艦の文明、すべての王と農民、すべての若いカップルの愛、すべて母と父、希望に満ちた子、発明者エクスプ ローラー、モラル、すべての腐敗した政治家、すべて「スーパー スター、」のすべての教師のすべて「最高指導者、」すべての聖人と罪人の我々 の種の歴史 － 太陽光線に浮遊塵のほこりに住んで。
    </div>


    <div id="shallow">
      <div id="all">
        <div>
          <h1>SWIM</h1>
          <div class="subtext i-dreamt-this"><span class="space-a">HA</span>VE <span class="space-b">A N</span>ICE <span class="space-c">DEE</span>P THANKS</div>

          <div class="space">&nbsp;</div>
  
          <div id="abt">
            <div class="short">CAMBRIDGE HOUSE DANCE NIGHT</div>
            <div class="smaller">diving/running/no-30-minute-wait</div>
          </div>

          <div class="space">&nbsp;</div>
  
          <div id="loc">
            <div class="short">Middlesex Lounge</div>
            <div class="smaller">Cambridge, MA 02139</div>
          </div>

          <div class="space">&nbsp;</div>

          <div id="tim">
            <div class="short">November 26 (2012)</div>
            <div class="smaller">9:00pm - 1:00am</div>
          </div>

          <div class="space">&nbsp;</div>

          <div id="des">
            <div class="short">DEEP HOUSE, DEEP BASS, AMBIENT</div>
            <div class="smaller">Boston underwater dance night.</div>
          </div>
        </div>

        <div class="space">&nbsp;</div>

        <div id="djs">
          <div>
            <div>ANDRE OBIN</div>
            <div class="subtext i-dreamt-this">AMBIENT</div>
            <div id="tim">
              <div class="short">
                <a href="http://soundcloud.com/andreobin">http://soundcloud.com/andreobin</a>
              </div>
              <div class="smaller">12:00am - 1:00am</div>
            </div>
          </div>

          <div class="space">&nbsp;</div>

          <div>
            <div>GLASS TEETH</div>
            <div class="subtext i-dreamt-this">TRANCE</div>
            <div id="tim">
              <div class="short">
                <a href="http://soundcloud.com/glasst33th">http://soundcloud.com/glasst33th</a>
              </div>
              <div class="smaller">11:00pm - 12:00am</div>
            </div>
          </div>

          <div class="space">&nbsp;</div>

          <div>
            <div>FUZZY FOTCH</div>
            <div class="subtext i-dreamt-this">DEEP BASS</div>
            <div id="tim">
              <div class="short">
                <a href="http://soundcloud.com/fuzzyfotch">http://soundcloud.com/fuzzyfotch</a>
              </div>
              <div class="smaller">10:00pm - 11:00pm</div>
            </div>
          </div>

          <div class="space">&nbsp;</div>

          <div>
            <div>REUPHY</div>
            <div class="subtext i-dreamt-this">SLOIZO</div>
            <div id="tim">
              <div class="short">
                <a href="http://soundcloud.com/wereuphyyou">http://soundcloud.com/wereuphyyou</a>
              </div>
              <div class="smaller">9:00am - 10:00pm</div>
            </div>
          </div>
        </div>
      </div>

      <div id="instagrammer"></div> 

      <!-- START -->
      <script>
        var instagrammer = (function () {
          var /* ... */
              images = [],
              container = document.getElementById("instagrammer"),
              dc = daisychain('instagrammer', {}),
              toremove = 0;

          dc.chain([ ]).start();

          return {
            add : function (sources) {
              sources = _.difference(sources, images);
              images = _.union(sources, images);
              toremove = Math.max(0, images.length - MAX_IMAGES);
              images = _.first(images, MAX_IMAGES);

              dc.prepend(sources);
              dc.removetail(toremove);

              console.log(images);
            }
          };
        })();

      </script>


      <div id="bywho"><a href="https://planwork.us/">PLANWORK</a></div>
    </div>

    <script>
    </script>
  </body>
</html>
