<!DOCTYPE html>
<html lang="en">
  <head>
    <title>S W I M</title>

    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>

    <link rel="stylesheet" href="/public/style.css" />
    <link rel="stylesheet" href="/public/sm.style.css" media="all and (max-width: 700px)" />
    <link rel="stylesheet" href="/public/lg.style.css" media="all and (min-width: 1056px)" />

    <meta property="og:title" content="S W I M">
    <meta property="og:description" content="Boston underwater dance night: deep house, deep bass, ambient">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://svv.im/">
    <meta property="og:image" content="http://svv.im/public/icon.png">
    
    <script src="/public/jquery-1.7.1.min.js"></script>
    <script src="/public/socket.io.js"></script>
    <script src="/public/underscore.js"></script>

    <script src="/public/modernizr.custom.js"></script>
    <script src="/public/ios-orientationchange-fix.js"></script>

    <script src="/public/daisychain.js"></script>

    <script>
      yepnope([
        {
          test : Modernizr.backgroundsize,
          nope : '/public/background-size-fix.js'
        }
      ]);

      /*
       * BUFFER BETWEEN
       * ....
       * 
       */

      var sock = io.connect("http://svv.im/"),
      // var sock = io.connect("http://localhost:5000/"),
          MAX_IMAGES = 10;

      sock.on('connect', function () {
      });

      sock.on('disconnect', function () {
      });

      sock.on('message', function (images) {
        var sources = [], images = _.first(JSON.parse(images), MAX_IMAGES);
        addnew(images);
      });

      /*
       * USEFUL FUNCTIONS
       * ....
       */

      function addnew (images) {
        var sources = [];
        for (var k = 0; k < images.length; k++) {
          sources.push(images[k].images.low_resolution.url);
        }

        instagrammer.add(sources);
      }

    </script>
  </head>
  <body>

    <div id="shallow">
      <!-- INFORMATION -->
      <div id="inf">
        <h1>SWIM</h1>
        <div class="subtext i-dreamt-this">PLEASE FEEL DEEP. THANKS.</div>

        <div class="space">&nbsp;</div>
  
        <div id="abt">
          <div class="short">CAMBRIDGE CULTURAL TOURISM</div>
          <div class="smaller">diving/running/no-30-minute-wait</div>
        </div>

        <div class="space">&nbsp;</div>
  
        <div id="loc">
          <div class="short">Elk's Lounge</div>
          <div class="smaller">Cambridge, MA 02139</div>
        </div>

        <div class="space">&nbsp;</div>

        <div id="tim">
          <div class="short">March 9 (2013)</div>
          <div class="smaller">9:00pm - 1:00am</div>
        </div>

        <div class="space">&nbsp;</div>

        <div id="des">
          <div class="short">DEEP HOUSE, DEEP BASS, D E E P</div>
          <div class="smaller">Corporate Dance Night</div>
        </div>
      </div>

      <!-- PADDING -->
      <div class="lg-space">&nbsp;</div>

      <!-- DJs -->
      <div id="djs">
        <div>
          <div>PATRICE BÄUMEL</div>
          <div class="subtext i-dreamt-this">ELECTRONIC DANCE MUSIC</div>
          <div id="tim">
            <div class="short">
              <a href="https://soundcloud.com/patrice-baumel">https://soundcloud.com/patrice-baumel</a>
            </div>
          </div>
        </div>

        <div class="space">&nbsp;</div>

        <div>
          <div>FUZZY FOTCH</div>
          <div class="subtext i-dreamt-this">DEEP BASS</div>
          <div id="tim">
            <div class="short">
              <a href="https://soundcloud.com/fuzzyfotch">https://soundcloud.com/fuzzyfotch</a>
            </div>
          </div>
        </div>

        <div class="space">&nbsp;</div>

        <div>
          <div>TO BE DETERMINED</div>
          <div class="subtext i-dreamt-this">DEEP</div>
          </div>
        </div>
      </div>
      </div>

      <!-- PADDING -->
      <div class="lg-space">&nbsp;</div>

      <!--  INSTAGRAM -->
      <div id="instagrammer-wrapper">
      <div id="instagrammer">
      </div> 
      </div> 

      <!-- PLANWORK, LLC. -->
      <div id="bywho"><a href="https://planwork.us/">PLANWORK</a></div>
    </div>
    <script>
    var instagrammer = (function () {
      var /* ... */
        images = [],
        container = document.getElementById("instagrammer"),
        dc = daisychain('instagrammer', {}),
        toremove = 0;

      dc.chain([ ]).start();

      return {
        add : function (sources) {
          sources = _.difference(sources, images);
          images = _.union(sources, images);
          toremove = Math.max(0, images.length - MAX_IMAGES);
          images = _.first(images, MAX_IMAGES);
          dc.prepend(sources);
          dc.removetail(toremove);
          }
      };
    })();
    </script>

    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-37878526-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    </script>
  </body>
</html>
