<!DOCTYPE html>
<!--
  thanksindeep
  razorbla.de/
  III??????????????IIIIIIII???????????????????????????????????????????????????????IIII?????????????????II?????
  IIIIIII??IIIIIIIIIIIIIIIIIIIIIIII???????????????????????????????II?????????????IIIIIII??I??III??IIIIIIIII?II
  IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII????III????????????IIIII???IIII?IIIIIIIIIIIIIIIIIIIIII?IIIIIIIIIIIIIIIIII
  IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII
  IIIIIIIIIIIIIIIII77777777IIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIIII7I7777IIIIIIIIIIIIIIII77IIIII
  7777IIIIIII777II77777777777II7777IIIIIIIIIIIIIIIIIIIIIIIIIIIIIII77IIIIIIIII7III777777IIIIIII77IIII7I77777I7I
  7777777III7777777777777777777777777IIIIIIIIIIIIIIIIIIIIII77II777777I777I77777777777777777II77777777777777777
  77777777I777777777777777777777777777III777777II7777II77777777I7777777777777777777777777777777777777777777777
  777777777777777777777777777777777777777777777777777777777777777777777777777777777$$$$77777777777777777$77777
  7777777777777$777$$$$$$$$$7777$$77777777777777777777777777777777777777777777777$$$$$$7777777777777777$$$$777
  777$$777777$$$777$$$$$$$$$$$$$$$$$77777777777777777777777777777$$$$7777777$$77$$$$$$$$$77777$$$777$$$$$$$$$$
  $$$$$$$777$$$$$7$$$$$$$$$$$$$$$$$$$77777777777777777777$$$$777$$$$$$$$$$$$$$$$$$$$$$$$$$$$77$$$$$$$$$$$$$$$$
  $$$$$$$$7$$$$$$$$$$$$$$$$$$$$$$$$$$$77$$$$$$$$7$$$7$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$7$$7777$$$$$$$$$$$
  $$$$$$$$7$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ZZZ$$$$$$77777777777$$$$$77
  $$$$$$$$$$$$$$$$$$$$ZZZ$$$$$$$Z$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ZZ$$$$$77I77777777777$$7777
  $$$$$$$$$$$$ZZZ$$$ZZZZZZZZ$$$$ZZZZ$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$ZZZ$$$$$$Z$Z$$777$$$$$$777II77777777II777$$7
  $ZZZ$$$$$$$ZZZZ$$ZZZZZZZZZZ$$ZZZZZ$$$$$$$$$$$$$$$$$$$$$$$ZZ$$$ZZZZZZ$ZZ$$$$$$$$7777$$$7$77777$7777777IIIII??
  ZZZZZZ$$$$ZZZZZZ$ZZZZZZZZZZ$ZZZZZZ$$$$$$$$$Z$$$$$Z$$$$$ZZZZ$Z$ZZZZZ$$$$$$$$$$77$$7$$$$7777777$77777777$$$$$7
  ZZZZZZZZ$$ZZZZZZ$ZZZZZZZZZZZZZZZZZZZZ$$ZZZZZZZ$$$Z$$$$$ZZZ$$$$$$$$$$$$7?7$$$$$$$$7$$$$7I777III777777$$$$$$$$
-->
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Matt Owen ___</title>
    <meta name="description" content="Wenn ich mir den Mund, nur Kulgeln ausgehen.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ogp: basic -->
    <meta property="og:title" content="Matt Owen ___">
    <meta property="og:type"  content="profile">
    <meta property="og:url"   content="http://razorbla.de">
    <meta property="og:image" content="http://razorbla.de/public/image/ogp.png">
    <meta property="og:image" content="http://razorbla.de/public/image/profile.jpg">
    <!-- ogp: optional -->
    <meta property="og:description" content="Wenn ich mir den Mund, nur Kulgeln ausgehen.">
    <meta property="og:locale"      content="en_US">
    <!-- ogp: profile meta data -->
    <meta property="og:profile.first_name" content="Matt">
    <meta property="og:profile.last_name"  content="Owen">
    <meta property="og:profile.username"   content="mattvvhat">
    <meta property="og:profile.gender"     content="male">

    <link rel="shortcut icon" href="http://razorbla.de/public/image/favicon.ico">

    <!-- * -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" rel="stylesheet" type="text/css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/normalize.css">
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="/public/css/planworked.css">
    <link rel="stylesheet" href="/public/css/index.css">

    <!-- @ -->
    <script src="/public/js/vendor/require.js"            ></script>
    <script src="/public/js/vendor/live.js"                 ></script>
    <script src="/public/js/vendor/modernizr-2.6.2.min.js"  ></script>

  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- content -->

    <div id="div-bg"> </div>

    <article id="content">
      <section id="sec-info">
        <section id="subsec-name">
          Matt Owen
          <a href="http://github.com/mattvvhat"><i class="fa fa-github"></i></a>
          <a href="http://www.linkedin.com/pub/matt-owen/14/a1/a78"><i class="fa fa-linkedin"></i></a>
        </section>
        <section id="subsec-main-links">
          <ul class="pw-inline-list">
            <li><a href="#sec-work-experience" onclick="pwScrollTo('sec-work-experience'); return false;" >Work</a></li>
            <li><a href="#sec-major-projects"  onclick="pwScrollTo('sec-major-projects'); return false;"  >Projects</a></li>
            <li><a href="#sec-skills"          onclick="pwScrollTo('sec-skills'); return false;"          >Skills</a></li>
            <li><a href="#sec-side-projects"   onclick="pwScrollTo('sec-side-projects'); return false;"   >Side Projects</a></li>
          </ul>
        </section>
        <section id="subsec-find-me-links">
          <ul class="pw-inline-list">
            <li><a href="#sec-contact" onclick="pwScrollTo('sec-contact'); return false;">Contact</a></li>
          </ul>
        </section>
      </section>

      <hr>

      <!-- WORK EXPERIENCE -->
      <section class="sec" id="sec-work-experience">
        <h2>Work Experience</h2>
        <section class="subsec" id="subsec-zelig">
          <h3>Harvard University, Institute for Quantitative Social Sciences</h3>
          <div>
            <ul class="pw-inline-list role">
              <li>Statistical Programmer</li>
              <li>Principle Developer</li>
              <li>Software Maintainer</li>
            </ul>
            <div class="location">Cambridge, MA</div>
            <div class="time"><time datetime="2013">2009-2013</time></div>
          </div>
          <div class="bullets clearfix">
            <ul class="pw-list pw-col">
              <!-- General -->
              <li>Contributed to two major products in Java and R, Zelig and the Dataverse Network</li>
              <li>Contributed 7 statistical packages to CRAN, the <i>Comprehensive R Archive Network</i></li>
              <li>Collaborated with graduate students on developing statistical software</li> 
              <li>Taught several workshops on Statistical Programming</li>
              <li>Taught a workshop on statistical modeling and developing statistical packages in R</li>
              <li>Taught a workshops on using Git for graduate students</li>
              <li>Consulted graduate students on cleaning data for Statistical analysis</li>
              <!-- Zelig -->
              <li>Lead developer for the Zelig, a Statistical-Software Suite</li>
              <li>Coded over 50 statistical models in R</li>
              <li>Coded a general framework for simulating statistical data across a variety of models in R</li>
              <li>Coded a general framework for imputing data in R</li>
              <li>Managed multiple git repositories</li>
              <li>Managed mailing list</li>
              <li>Wrote a toolkit to enhance the features of R</li>
              <li>Began research into developing graphical interfaces for cloud computing statistical applications</li>
              <li>Began development of cloud-based Statistics</li>
            </ul>
            <ul class="pw-list pw-col">
              <!-- Dataverse -->
              <li>Developer and collaborator for the Dataverse Network</li>
              <li>Integrated tools for statistical analysis into the Dataverse Network</li>
              <li>Developed Java classes to upload and convert the <code>RData</code> filetype into an Archival Format</li>
              <li>Developed tool to convert the Rdata format to CSV, TAB</li>
              <li>Developed software to check for consistency data sets stored in the <code>RData</code> format against an archival format</li>
              <li>Developed and extended a framework for unifying statistical interfaces across web and R-scripts</li>
              <li>Developed softwar to computer statistical measurements on uploaded data-sets</li>
              <li>Interfaced Statistical analysis tools with Glassfish EE in Java</li>
              <li>Assisted graduate students in developing statistical models in Python and R</li>
              <li>Developed a system to apply statistical models to remote data sets</li>
            </ul>
          </div>
          <div class="pw-break"></div>
        </section>

        <section class="subsec" id="subsec-planwork">
          <h3>Planwork, LLC</h3>
          <div>
            <ul class="pw-inline-list role">
              <li>Co-Founder</li>
              <li>Manager</li>
            </ul>
            <div class="location">Somerville, MA</div>
            <div class="time"><time datetime="2013">2012-2013</time></div>
          </div>
          <div class="bullets clearfix">
            <ul class="pw-list pw-col">
              <li>Developed and managed the creation of generative visual art in <code>OpenGL</code> and <code>CocoaTouch</code></li>
              <li>Developed a series of parametric logos in WebGL and HTML5 Canvas</li>
              <li>Developed creative software applications using NodeJS, WebGL, OpenGL, and CocoaTouch</li>
              <li>Developed CocoaTouch applications to mix video in realtime for art installations</li>
              <li>Developed realtime streaming video apps for Instagram in NodeJS</li>
              <li>Created non-repeating patterns used in laser-etching leather products</li>
              <li>Authored a series of fine-art geared towards interaction on Social Media Networks</li>
              <li>Ran multiple advertising campaigns</li>
              <li>Used streaming data from Instagram&trade; and Twitter&trade; to build fine art pieces</li>
            </ul>
            <ul class="pw-list pw-col">
            </ul>
          </div>
        </section>

      </section>
      <!-- /WORK EXPERIENCE -->

      <hr>

      <!-- MAJOR PROJECTS -->
      <section class="sec" id="sec-major-projects"> 
        <h2>Major Projects</h2>

        <section class="subsec" id="subsec-zelig">
          <h3>Zelig Software Suite</h3>
          <div>
            <ul class="pw-inline-list role">
              <li>Principle Developer</li>
              <li>Statistical Programmer</li>
              <li>Software Maintainer</li>
            </ul>
            <table cellspacing="0" cellpadding="0" border="0" class="related-info">
              <tr>
                <td width="130px" class="label">Project Page</td>
                <td><a href="http://projects.iq.harvard.edu/zelig">Binaries and Project page</a> on harvard.edu</td>
              </tr>
              <tr>
                <td>Git Page</td>
                <td><a href="http://projects.iq.harvard.edu/zelig">code</a> on github</td>
              </tr>
            </table>
          </div>

          <div class="bullets clearfix">
            <ul class="pw-list pw-col">
              <li>A stream-lined framework for data analysis</li>
              <li>Developed as precursor to cloud-based Statistics stack</li>
              <li>
                Implements over 50 statistical models -
                <small><i>Generalized Linear Models</i>, <i>Multi-level Models</i>, <i>Multinomial Logistic/Probit Regressions</i>, <i>etc.</i></small>
              </li>
              <li>Provides an API for developing new Statistical models</li>
              <li>Unified interface allows for simple automating of the development of Statistical models</li>
              <li>Interfaces with external software to automatically impute data-sets</li>
              <li>
                Unifies approaches for various statistical modeling techniques:
                <ul>
                  <li>Predicting observations from fitted, Statistical models</li>
                  <li>Representing statistical models</li>
                  <li>Multiple-imputation of data sets</li>
                  <li>Representing counter-factuals across models</li>
                  <li>Bootstrapping statistical models</li>
                  <li>Citing research data and statistical models</li>
                </ul>
              </li>
              <li>
                Creates a pipeline for:
                <ul>
                  <li>Imputing missingg data</li>
                  <li>Fitting statistical models</li>
                  <li>Setting counter-factuals</li>
                  <li>Prediction observations</li>
                  <li>Evaluating accuracy of results</li>
                </ul>
              </li>
            </ul>
            <ul class="pw-list pw-col">
              <li>Uses simulation and large-scale matrix math to produce observations from counterfactuals</li>
              <li>Universal interface and pipeline allow for ease-of-use for automated Statistics</li>
              <li>Universal interface and pipeline allow for ease-of-use for graphical interface for complex models</li>
            </ul>
          </div>
        </section>

        <section class="subsec" id="subsec-dvn">
          <h3>Dataverse Network</h3>
          <div>
            <ul class="pw-inline-list role">
              <li>Java Developer</li>
              <li>Statistical Programmer</li>
            </ul>
            <table cellspacing="0" cellpadding="0" border="0" class="related-info">
              <tr>
                <td width="130px" class="label">Project Page</td>
                <td><a href="http://projects.iq.harvard.edu/zelig">binaries and project page</a> on harvard.edu</td>
              </tr>
              <tr>
                <td>Git Page</td>
                <td><a href="http://projects.iq.harvard.edu/zelig">code</a> on github</td>
              </tr>
            </table>
          </div>

          <div class="bullets clearfix">
            <ul class="pw-list pw-col">
              <li>Developed an interface for cloude-based Statistical computing</li>
              <li>Developed WebServer to R-Client Bindings</li>
              <li>Developed software to allow researchers to upload from the <code>RData</code> to an archival format</li>
              <li>Collaborated with a team of Java developers on an Enterprise project</li>
            </ul>
            <ul class="pw-list pw-col">
            </ul>
          </div>
        </section>

        <section class="subsec" id="subsec-">
          <h3>WorldHall</h3>
          <div>
            <ul class="pw-inline-list role">
              <li>Co-Founder</li>
              <li>Manager</li>
            </ul>
            <table cellspacing="0" cellpadding="0" border="0" class="related-info">
              <tr>
                <td width="130px" class="label">Project Page</td>
                <td><a href="http://worldhall.org">Former Homepage</a></td>
              </tr>
              <tr>
                <td>From Website</td>
                <td><a href="http://necsi.edu">NECSI</a></td>
              </tr>
            </table>
          </div>

          <div class="bullets clearfix">
            <ul class="pw-list pw-col">
              <li>Managed MySQL database based around the mediawiki suite</li>
              <li>Wrote code to automate data-entry</li>
              <li>Wrote PHP scripts to <i>restore</i> and perform maintenance on a large database</li>
              <li>Repo of over 20k lines of code</li>
              <li>Worked with complex systems scientists to develop a collaborative decision-making website</li>
              <li>Used principles of agent-based modeling to build a framework for working with ideas</li>
              <li>Unifying framework for statistical prediction. That is, use models</li>
              <li>Implements over 50 statistical models</li>
              <li>Recommended</li>
            </ul>
            <ul class="pw-list pw-col">
            </ul>
          </div>
        </section>

      </section>
      <!-- /MAJOR PROJECTS -->

      <hr>

      <!-- SKILLS -->
      <section id="sec-skills">
        <h2>Skills, Education, and Experience</h2>

        <section class="subsec" id="subsec-skills">
          <h3>Web</h4>
          <div>
            <ul class="pw-inline-list role">
              <li>Develop innovative uses for web technologies.</li>
            </ul>
          </div>
          <div class="bullets clearfix">
            <ul class="pw-list pw-col-3">
              <li>Javascript</li>
              <li>WebGL</li>
              <li>Socket.io, WebSockets</li>
              <li>NodeJS: Serverside Javascript Scripting; Perfect for Real-time Data</li>
              <li>MongoDB: Document-based, highly parallelizable</li>
              <li>HTML5</li>
              <li>LAMP: Linux, Appache, MySQL, PHP</li>
              <li>Instagram API</li>
              <li>Twitter API</li>
              <li>Facebook SDK</li>
            </ul>
            <ul class="pw-list pw-col-3">
            </ul>
            <ul class="pw-list pw-col-3">
            </ul>
          </div>
        </section>

        <section class="subsec" id="subsec-data-science">
          <h3>Data Science and Machine Learning</h4>
          <div>
            <ul class="pw-inline-list role">
              <li>Use high-performance machine-learning and big data to create interesting and artistic applications.</li>
            </ul>
          </div>
          <div class="bullets clearfix">
            <ul class="pw-list pw-col">
              <li>
                Machine Learning:
                <ul>
                  <li>Neural Networks</li>
                  <li>Generalized Linear Models</li>
                  <li>Support Vector Machines</li>
                </ul>
              </li>
              <li>R</li>
              <li>Numerical Analysis for use in </li>
              <li>Developed online-learning algorithms</li>
              <li>Python: SciPy, SciKit-Learn, etc.</li>
              <li>R for fast prototyping of machine learning algorithms</li>
              <li>Python with NumPy, SciPy, SciKit-Learns</li>
              <li>Use technology creatively</li>
            </ul>
            <ul class="pw-list pw-col">
            </ul>
          </div>
        </section>

        <section class="subsec" id="subsec-mathematics">
          <h3>Mathematics</h4>
          <div>
            <ul class="pw-inline-list role">
              <li>Apply mathematics in real-world computing problems.</li>
            </ul>
          </div>
          <div class="bullets clearfix">
            <ul class="pw-list pw-col">
              <li>Numerical Analysis</li>
              <li>KKT</li>
              <li>Vector-space optimization</li>
              <li>Finite Elements Method</li>
              <li>Optimization and Operations Research</li>
            </ul>
            <ul class="pw-list pw-col">
            </ul>
          </div>
        </section>

      </section>
      <!-- /SKILLS -->
      <hr>

      <!-- SIDE PROJECTS -->
      <section id="sec-side-projects">
        <h2>Side Projects</h2>

        <section class="subsec" id="side-instagram-map">
          <h3>Instagram Map</h4>
          <div>
            <ul class="pw-inline-list role">
              <li>Developer</li>
              <li>Technology Lead</li>
            </ul>
            <div class="location">Boston, MA</div>
            <div class="time"><time datetime="2013">2013-2013</time></div>
          </div>
          <div class="bullets clearfix">
            <ul class="pw-list pw-col">
              <li>Display color trends local to a user</li>
              <li>Leverage mobile data to get accurate color representations</li>
              <li>Leverage mobile data to get accurate color representations</li>
              <li>Use technology creatively</li>
              <li>NodeJS</li>
              <li>HTML5 Mobile-friendly</li>
            </ul>
            <ul class="pw-list pw-col">
            </ul>
          </div>
        </section>

      </section>
      <!-- /SIDE PROJECTS -->

      <hr>

      <!-- HIT ME UP -->
      <section id="sec-contact">
        <h2>Contact</h2>

        <section class="subsec">
          Send all hatemail to me via this form.
        </section>

        <br>

        <form id="contact-form" onsubmit="pwSendEmail(); return false;">
          <div class="pw-table">
            <div>
              <div><label for="contact-form-name">Name</label></div>
              <div><input id="contact-form-name" placeholder="N. Ame"></div>
            </div>
            <div>
              <div><label for="contact-form-email">Email</label></div>
              <div><input id="contact-form-email" placeholder="@"></div>
            </div>
            <div>
              <div><label for="contact-form-company">Company</label></div>
              <div><input id="contact-form-company" placeholder="Inc."></div>
            </div>
            <div>
              <div><label for="contact-form-website">Website</label></div>
              <div><input id="contact-form-website" placeholder="http://"></div>
            </div>
            <div>
              <div><label for="contact-form-message">Message</label></div>
              <div><textarea rows="15" placeholder="..." id="contact-form-message"></textarea></div>
            </div>
            <div>
              <div><label>&nbsp;</label></div>
              <div><input type="submit"></div>
            </div>
          </div>
        </form>
      </section>
      <!-- /HIT ME UP -->

    </article>
    <!-- /content -->
    <div class="clearfix"></div>

    <article id="final-thoughts">
      <section id="sec-side-projects">
        <h2>Final Thoughts</h2>
        <section class="subsec">
        <h3>
          Fuck work.
          Perl is the worst.
          🍕💀
          ...
        </h3>
        </section>
      </section>
    </article>

    <div class="hidden" id="go-up">
      <a href="#content" onclick="pwScrollTo('content'); return false;"><i class="fa fa-angle-double-up"></i></a>
    </div>

    <!-- GET JQUERY -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    <!-- PLUGINS -->
    <script src="/public/js/custom/plugins.js"></script>
    <!-- ANALYTICS -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-45577960-1', 'razorbla.de');
      ga('send', 'pageview');
    </script>
    <script>
      function pwSendEmail () {
        var validEmailRegEx = /(.+)@(.+){2,}\.(.+){2,}/;
        var validUrlRegEx =  /^(http(?:s)?\:\/\/[a-zA-Z0-9\-]+(?:\.[a-zA-Z0-9\-]+)*\.[a-zA-Z]{2,6}(?:\/?|(?:\/[\w\-]+)*)(?:\/?|\/\w+\.[a-zA-Z]{2,4}(?:\?[\w]+\=[\w\-]+)?)?(?:\&[\w]+\=[\w\-]+)*)$/;

        var email = $('#contact-form-email').val();
        var website = $('#contact-form-website').val();

        $('#contact-form input, #contact-form textarea').removeClass('invalid').removeClass('valid');

        {
          // Error-checking
        }

        $.ajax({
          url   : "/email",
          type  : "POST",
          data  : {
            name    : $("#contact-form-name").val(),
            email   : $("#contact-form-email").val(),
            company : $("#contact-form-company").val(),
            website : $("#contact-form-website").val(),
            message : $("#contact-form-message").val()
          },
          success : pwOnMailSuccess,
          error   : pwOnMailError
        });

        $("#contact-form-name").val("");
        $("#contact-form-email").val("");
        $("#contact-form-company").val("");
        $("#contact-form-website").val("");
        $("#contact-form-message").val("WAITING...\nYOUR EMAIL IS BEING SENT.");
        $('#contact-form input, #contact-form textarea').attr('disabled', 'disabled');
      }

      function pwOnMailSuccess(data, textStatus, jqXHR) {
        $("#contact-form-name").val("");
        $("#contact-form-email").val("");
        $("#contact-form-company").val("");
        $("#contact-form-website").val("");

        if (data.resp == 0)
          $("#contact-form-message").val("THANK YOU!\nYOUR MESSAGE HAS BEEN SENT TO MATT.");
        else
          $("#contact-form-message").val("EMAIL ERROR!\nYOUR MESSAGE HAS NOT BEEN SENT TO MATT.\nCONTACT HIM DIRECTLY AT:\n  matt@planwork.us");

        $('#contact-form input, #contact-form textarea').removeAttr('disabled');
      }

      function pwOnMailError (jqXHR, textStatus, errorThrown) {
        console.log(textStatus);
        console.log(errorThrown);
      }

      $(window).scroll(function () {
        // Scroll-top
        var _st = $(window).scrollTop();
        if (_st > 30) {
          if (!$("#go-up").hasClass('faded-in')) {
            $('#go-up').hide().fadeOut(0).removeClass('hidden').addClass('faded-in').fadeIn(300);
          }
        }
        else {
          $('#go-up').stop(true, false).removeClass('faded-in').fadeOut(300);
        }
      });
      /**
       * Scroll to an HTML Element
       * Scroll to an HTML element at a set rate of pixels per millisecond.
       * @param {string,object} obj a string or object to which the page will scroll
       * @param {numeric} rate a numeric specifying the scroll speed in pixels per
       * second. Defaults to [10]
       */
      function pwScrollTo (obj, rate) {
        rate = typeof rate === 'number' ? rate : 40;
        rate = rate > 0 ? rate : 40;

        if (typeof obj === "string") {
          obj = document.getElementById(obj);
        }

        var currentPosition = $(window).scrollTop(), targetPosition = $(obj).offset().top;

        // Time in milliseconds
        var t = Math.abs(currentPosition - targetPosition)/rate;

        $("html, body").animate({ scrollTop : targetPosition - $("#top").outerHeight(true)}, t);

        return false;
      }
    </script>

    <script>
      requirejs.config({
        paths : {
          three     : '/public/js/vendor/three.min',
          OBJLoader : '/public/js/vendor/OBJLoader',
          App       : '/public/js/custom/App',
          ObjApp    : '/public/js/custom/ObjApp'
        }
      });

      require([ 'three', 'App' ], function () {
        require([ 'OBJLoader', 'ObjApp' ], function () {
          var s = new ObjApp();
          s.loop();
        });
      });
    </script>

  </body>
</html>
