body {
  font-size: 23pt;
}

.i-dreamt-this {
  text-shadow: rgba(0, 0, 0, .6) -1px 0 1px, rgba(0, 0, 0, .8) 0 0 0;
  color: transparent;
}

#inf, #djs, #instagrammer {
  position: relative;
  margin: 0 auto;
}

#instagrammer {
  margin: 0 2500px;
  left: 0;
  top: 0;
}

#instagrammer {
  width: 200px;
}


.space {
  height: 20px;
}
