body {
  font-size: 23pt;
}

.i-dreamt-this {
  text-shadow: rgba(0, 0, 0, .6) -1px 0 1px, rgba(0, 0, 0, .8) 0 0 0;
  color: transparent;
}

#inf, #djs, #instagrammer {
  position: relative;
  margin: 0 auto;
}

#instagrammer {
  margin: 0 auto;
  left: 0;
  top: 0;
}

.space {
  height: 20px;
}

#bywho {
  bottom: -14px;
}


#instagrammer-wrapper {
  position: relative;
  max-width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

#instagrammer {
  width: 2100px;
}

#instagrammer div img, #instagrammer div {
  float: left;
}
