body {
  font-size: 23pt;
}

#inf, #djs {
  position: relative;
  left: 0;
  top: 0;
  margin: 0 auto;
}

#instagrammer-wrapper, #instagrammer {
  margin: 0 auto;
  left: 0;
  top: 0;
}

.space {
  height: 20px;
}

#bywho {
  bottom: -14px;
}


#instagrammer-wrapper {
  position: relative;
  max-width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

#instagrammer, #instagrammer-wrapper {
  width: 2100px;
}

#instagrammer div img, #instagrammer div {
  float: left;
}
