/* VARYING STYLES
 * THESE STYLES VARY ACROSS BROWSER WIDTH.
 * THEY CONTROL THE LAYOUT OF THE PAGE, AND WHETHER IT'S SET FOR MOBILE/MED/LG.
 */

/* LIGHT BLUE: rgb(123,208,228) */

#inf, #djs {
  position: relative;
  left: 15%;
}

#inf, #djs {
  width: 300px;
}

#instagrammer-wrapper {
  position: fixed;
  top: 0;
  left: 70%;
  margin: 0;
  padding: 0;
}


/* STATIC STYLES
 * THESE STYLES NEVER CHANGE, AND ARE USUALLY RELATIVE TO THE PAGE.
 */


body { 
  font-size: 30pt;
  font-family: DINWeb-Light, Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: rgb(123,208,228);
  background: rgb(5,1,18) repeat fixed center center url('/public/deep.png');
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  color: rgb(200,200,200);
}
header {
  margin: 0 0 1em 0;
}
a {
  color: white;
  text-decoration:none;
}
a:hover {
  text-decoration: underline;
}
h1 {
  color: white;
}
h1, h2, h3 {
  font-family: DINWeb;
  margin: 0;
  letter-spacing: .4em;
}

.subtext {
  font-size: 61%;
  letter-spacing: -.10em;
  word-spacing: .3em;
}
.i-dreamt-this {
  text-shadow: rgba(200, 200, 200, .6) -3px 0 2px, rgba(200, 200, 200, .8) 2px 0 1px;
  color: transparent;
}
.space {
  height: 50px;
}
.smaller {
  font-size: 90%;
}
.col {
  float: left;
  margin: 0 1em 1em 0;
}
.unit {
  font-size: 60%;
  color: rgb(33,33,33);
}
.doesntexist {
  display: none;
  visibility: hidden;
  position: absolute;
  top: -1000px;
  right: -1000px;
}

#bywho {
  font-size: 40px;
  position: fixed;
  bottom: -12px;
  right: 5%;
  z-index: 667;
  margin: 0;
  padding: 0;
}
#bywho a {
  color: transparent;
  text-shadow: rgba(00,00,00, .9) -2px 0 4px, rgb(00,00,00) 1px 0 3px;
  text-decoration: none;
}
#bywho a:hover {
  text-shadow: black 0 0 2px;
  text-decoration: none;
}
#shallow {
  padding: 0;
  z-index: -1;
  margin: 0 auto;
}
#abt, #loc, #tim, #des {
  font-size: 47%;
}
#abt, #loc, #tim, #des .short {
  font-family: DINWeb;
}
#des .smaller {
  letter-spacing: .16em;
}
#inf, #djs, #instagrammer {
  text-shadow: rgb(17,24,37);
}
#instagrammer-wrapper, #instagrammer {
  width: 200px;
}
#instagrammer img {
  border-width: 0;
  border-style: solid;
  border-color: black;
  float: left;
  margin: 0;
  padding: 0;
  width: 200px;
  height: 200px;
  -webkit-animation-name: swim-begin;
  -webkit-animation-duration: .25s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: 0s;
}
#instagrammer img:hover {
  -webkit-animation-name: cmon;
  -webkit-animation-duration: .25s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: 0s;
}

/**
 * Register:
 *  - DinWeb
 *  - DinWeb-Light
 */
@font-face {
  font-family: DINWeb-Light;
  src: url("/public/DINWeb-Light.eot");
}
@font-face {
  font-family: DINWeb-Light;
  src: url("/public/DINWeb-Light.woff") format("woff");
}
@font-face {
  font-family: DINWeb;
  src: url("/public/DINWeb.eot");
}
@font-face {
  font-family: DINWeb;
  src: url("/public/DINWeb.woff") format("woff");
}
@-webkit-keyframes swim-begin {
  0% {
    -webkit-filter: grayscale(0.) blur(1px) saturate(3);
  }
  100% {
    -webkit-filter: grayscale(0.2) blur(3px) saturate(11);
  }
}
@-webkit-keyframes cmon {
  100% {
    -webkit-filter: grayscale(0.) blur(1px) saturate(3);
  }
  0% {
    -webkit-filter: grayscale(0.2) blur(3px) saturate(11);
  }
}
