body {
  font-family: DINWeb-Light, Helvetica, Arial, sans-serif;
  font-size: 40pt;
  margin: 0;
  background: url('/public/water-deep.png');
  background: url('/public/water-deep.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1, h2, h3 {
  font-family: DINWeb;
  margin: 0;
  letter-spacing: .4em;
}
.subtext {
  font-size: 60%;
  letter-spacing: -.07em;
  word-spacing: .3em;
}

.space {
  height: 50px;
}

#shallow {
  height: 100%;
  width: 92%;
  margin: 0% 4%;
  padding: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: -1;

  background: url('/public/water-shallow.png') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#all {
  max-width: 600px;
  margin: .1em auto;
  padding: 0 1em;
  overflow: hidden;
}

#loc, #tim, #des {
  font-size: 47%;
}

#loc, #tim, #des .short {
  font-family: DINWeb;
}

#des .smaller {
  letter-spacing: .16em;
}
